.content {
	max-width: 647px;
	min-width: 320px;
	background: var(--bg-secondary);
	padding: 50px 80px;
	box-shadow: 0 24px 38px rgba(47, 53, 57, 0.03), 0 9px 46px rgba(71, 116, 138, 0.02),
		0 11px 15px rgba(95, 137, 158, 0.04);
	@apply rounded-4xl w-full;

	.title {
		margin-top: 35px;

		@apply text-center h2;
	}

	.subTitle {
		color: var(--paragraph-main);
		margin-top: 10px;

		@apply text-center subhead;
	}
}

.errorMessage {
	color: var(--danger-main);
}

.form {
	margin-top: 46px;

	@apply flex-col-center-center;

	.input {
		max-width: 480px;
		@apply mt-16 w-full;
	}
}

.footerText {
	@apply text-center mt-36;
}
