.container {
	@apply flex items-center;
}

.textContent {
	@apply flex-col ml-3;
}

.l {
	.title {
		color: var(--primary-light);
		@apply h2;
	}

	.subTitle {
		color: var(--paragraph-light);
		@apply subhead;
	}
}

.m {
	.title {
		@apply headline;
	}

	.subTitle {
		color: var(--paragraph-light);
		@apply caption-14-rg;
	}
}
