:root {
	--default-light: #f8f8f8;
	--default-main: #ebebeb;
	--default-dark: #d7d7d8;
	--primary-light: #030235;
	--primary-main: #272727;
	--primary-dark: #131313;
	--danger-light: #e44f3e;
	--danger-main: #d44333;
	--danger-dark: #bc3c2e;
	--success-light: #26b85e;
	--success-main: #21a453;
	--success-dark: #1e8a47;
	--paragraph-light: #6b6e85;
	--paragraph-main: #606377;
	--paragraph-dark: #52566e;
	--descriptor-light: #98a0ad;
	--descriptor-main: #7e8694;
	--descriptor-dark: #737b89;
	--divider-light: rgba(89, 100, 118, 0.16);
	--divider-main: rgba(73, 82, 97, 0.16);
	--divider-dark: rgba(49, 55, 65, 0.16);
	--pink-light: #f1dade;
	--pink-main: #f1c7c4;
	--pink-dark: #fbb;
	--pink-xdark: #af7e7a;
	--yellow-light: #f1e6da;
	--yellow-main: #f4cd48;
	--yellow-dark: #d9bc22;
	--blue-light: #dae6f1;
	--blue-main: #9acff0;
	--blue-dark: #68b5e2;
	--green-light: #a5ddb8;
	--green-main: #17a468;
	--green-dark: #14945c;
	--purple-light: #c9c7ef;
	--purple-main: #9c98e8;
	--purple-dark: #837fd1;
	--bg-primary: #fafafb;
	--bg-secondary: #fff;
	--bg-tertiary: #080721;
	--text-primary: #030235;
	--text-secondary: #ebebeb;
}
