body {
	background: var(--bg-primary);
	color: var(--text-primary);
	font-size: 15px;
	font-weight: 500;
	font-family: Inter, sans-serif;
	min-width: 375px;
}

.block {
	position: relative;

	&__item {
		display: block;
		display: flex;
	}

	&::after {
		content: '';
		color: red;
	}
}
