.container {
	@apply relative inline-flex flex-col;
}

.label {
	@apply absolute bottom-full mb-2;
}

.inputContainer {
	@apply relative flex;
}

.input {
	color: var(--primary-light);
	@apply text-base transition-all;
}

.lg .input {
	@apply pt-4 pl-4 pb-4 pr-4 rounded-xl;
}

.xs .input {
	@apply pt-2 pl-2 pb-2 pr-2 rounded-md;
}

.isIcon .input {
	@apply pr-6;
}

.icon {
	@apply absolute top-1/2 -translate-y-1/2 right-3 cursor-pointer select-none;
}

.subText {
	@apply absolute top-full mt-2;
}

.outlined {
	.subText {
		@apply left-2;
	}

	.label {
		@apply left-2;
	}

	&.primary {
		.input {
			border: 2px solid var(--default-main);
			@apply bg-transparent;

			&::placeholder {
				color: var(--descriptor-main);
			}

			&:disabled {
				background: var(--default-main);
				@apply opacity-50;
			}

			&:hover {
				border-color: var(--primary-light);
			}

			&:focus {
				border: 2px solid var(--primary-light);
				background: transparent;
			}
		}

		.label {
			color: var(--descriptor-main);
		}

		.subText {
			color: var(--primary-light);
		}
	}

	&.danger {
		/* stylelint-disable-next-line */
		.input {
			border: 2px solid var(--danger-main);
			@apply bg-transparent;

			&::placeholder {
				color: var(--descriptor-main);
			}

			&:disabled {
				background: var(--default-main);
				@apply opacity-50;
			}

			&:hover {
				border-color: var(--danger-light);
			}

			&:focus {
				border: 2px solid var(--danger-dark);
				background: transparent;
			}
		}

		.label {
			color: var(--primary-light);
		}

		.subText {
			color: var(--danger-main);
		}
	}

	&.success {
		/* stylelint-disable-next-line */
		.input {
			border: 2px solid var(--success-main);
			@apply bg-transparent;

			&::placeholder {
				color: var(--descriptor-main);
			}

			&:disabled {
				background: var(--success-main);
				@apply opacity-50;
			}

			&:hover {
				border-color: var(--success-light);
			}

			&:focus {
				border: 2px solid var(--success-dark);
				background: transparent;
			}
		}

		.label {
			color: var(--descriptor-light);
		}

		.subText {
			color: var(--success-main);
		}
	}
}
