.overlay {
	background: rgba(0, 0, 0, 0.207);
	@apply w-full h-full fixed top-0 left-0 z-40 transition-all;
}

.l {
	max-width: 652px;
}

.m {
	max-width: 584px;
}

.drawer {
	background: var(--bg-secondary);
	box-shadow: 0 24px 38px rgba(47, 53, 57, 0.03), 0 9px 46px rgba(71, 116, 138, 0.02),
		0 11px 15px rgba(95, 137, 158, 0.04);
	@apply fixed z-50 transition-all w-full;
}

.left {
  @include transformAnimation(leftDrawer, translateX(-100%), translate(0));
	@apply top-0 left-0 h-screen translate-x-0;

	min-width: 320px;
  animation: leftDrawer .3s ease-in-out;
}

.right {
  @include transformAnimation(rightDrawer, translateX(100%), translate(0));
	@apply top-0 right-0 h-screen translate-x-0;

	min-width: 320px;
  animation: rightDrawer .3s ease-in-out;
}

.top {
  @include transformAnimation(topDrawer, translateY(-100%), translate(0));
	@apply left-0 top-0 w-screen;

	min-height: 320px;
  animation: topDrawer .3s ease-in-out;
}

.bottom {
  @include transformAnimation(bottomDrawer, translateY(100%), translate(0));
	@apply left-0 bottom-0 w-screen;

	min-height: 320px;
  animation: bottomDrawer .3s ease-in-out;
}

