.card {
	max-width: 500px;
	@apply flex flex-col w-full;

	.head {
		@apply headline;
	}

	.footer {
		@apply inline-flex items-center ml-16 pl-1 mt-3 w-auto;

		p {
			color: var(--descriptor-light);
			@apply m-0 caption-13-rg;
		}

		.priority {
			background: var(--pink-light);
			@apply h5 py-1 px-2 rounded-3xl mr-2;
		}

		.date {
			@apply mr-2;
		}
	}
}
