.form {
	margin-top: 46px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.control {
		width: 100%;
		max-width: 480px;
	}

	.input {
		width: 100%;
		max-width: 480px;
		margin-top: 52px;
	}

	.button {
		width: 100%;
		margin-top: 40px;
	}
}
