$ICON_WIDTH: 36px;
$CONTENT_LEFT_PADDING: 11px;
$TEXT_CONTENT_WIDTH: calc(100% - $ICON_WIDTH - $CONTENT_LEFT_PADDING);

.contentHead {
	display: flex;
	align-items: center;
	height: 86px;
	padding: 24px 12px 16px $CONTENT_LEFT_PADDING;
}

.textContent {
	margin-left: 11px;
	width: $TEXT_CONTENT_WIDTH;
}

.head {
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon {
	font-size: 32px;
	width: $ICON_WIDTH;
	height: 36px;
}

.contentFooter {
	display: flex;
	justify-content: space-between;
}

.member {
	display: inline-flex;
	flex-direction: column;
	padding: 12px 16px 16px;
}
