.contentHead {
	display: flex;
	align-items: center;
	height: 86px;
	padding: 24px 12px 16px 11px;
}

.textContent {
	margin-left: 11px;
	width: calc(100% - 36px - 11px);
}

.head {
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon {
	font-size: 32px;
	width: 36px;
	height: 36px;
}

.contentFooter {
	display: flex;
	justify-content: space-between;
}

.member {
	display: inline-flex;
	flex-direction: column;
	padding: 12px 16px 16px;
}
