.form {
	padding-bottom: 144px;

	.container {
		grid-template-columns: 1fr 1fr;
		display: grid;
		justify-items: center;
		gap: 8px;

		.control {
			max-width: 284px;
			width: 100%;
		}

		.input {
			max-width: 284px;
			width: 100%;
			margin-top: 52px;
		}
	}

	.button {
		width: 100%;
		margin-top: 40px;
	}
}
