.form {
	@apply pb-36;

	.container {
		grid-template-columns: 1fr 1fr;
		@apply grid  justify-items-center gap-2;

		.control {
			max-width: 284px;
			width: 100%;
		}

		.input {
			max-width: 284px;
			width: 100%;
			margin-top: 52px;
		}
	}

	.button {
		@apply w-full mt-10;
	}
}
