.input {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.container {
	@apply flex items-center;
}

.textContent {
	@apply flex-col ml-3;

	.title {
		color: var(--primary-light);
		@apply h2;
	}

	.subTitle {
		color: var(--paragraph-light);
		@apply subhead;
	}
}

.imgWrapper {
	@apply relative rounded-full overflow-hidden cursor-pointer;

	.addHover {
		@apply absolute w-full h-full left-0 top-0 transition-all flex-center-center text-transparent;
		background: transparent;
	}

	&:hover .addHover {
		@apply text-white;
		background: rgba(57, 57, 57, 0.296);
	}
}
